body {
	min-width: 960px;
	min-height: 500px;
	background-color: #CACACA;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	$header_width: 1920px;
	width: $header_width;

	//nav
	.main-navigation {
		width: 960px;
		display: block;
		margin: 0 auto;
	}
		ul {
			margin: 0;
			padding: 0;
			font-size: 0;
			list-style: 0;
		}
			li {
				display: inline-block;
				margin-top: 50px;
				font-size: 14px;
				line-height: 20px;
				vertical-align: top;
			}
				a {
					display: inline-block;
					padding: 5px 10px;
					margin-right: 20px;
					text-decoration: none;
					color: #000;
					background-color: #F1F1F1;
					

					&:hover {
						text-decoration: none;
						background-color: #919191;
					}
				}

}













//modal-window
@mixin border-radius($box_border_radius) {
	-webkit-border-radius: $box_border_radius;
	-moz-border-radius: $box_border_radius;
	-ms-border-radius: $box_border_radius;
	-o-border-radius: $box_border_radius;
	border-radius: $box_border_radius;
}
.modal-content {
	display: none;
	position: relative;
	width: 495px;
	top: 40px;
	left: 25px;
	margin: 0 auto;
	background-color: #A7A7A7;
	@include border-radius(5px);
	

	.modal-content-close {
		content: "";
		position: absolute;
		font-size: 0;
		top: 5px;
		left: 500px;
		width: 23px;
		height: 23px;
		background: url(../img/sprite-login-form.png) no-repeat center;
		background-position: 0 -304px;
		cursor: pointer;
	}
		.modal-content-title {
			font-size: 24px;
			line-height: 32px;
			margin-left: 20px;
			margin-top: 10px;
		}
		p {
			margin-left: 20px;
			letter-spacing: -1px;
		}
		input:first-child {
			margin-left: 20px;
			margin-right: 20px;
		}
		input {
			min-height: 10px;
			padding: 5px 10px;
			outline: none;
			border: 1px solid #000;
			@include border-radius(2px);
			background-color: #F5F988;
		} 
		input[type="text"]:focus,
		input[type="password"]:focus {
			border: 1px solid #E0D79E;
		}

		button {
			display: block;
			width: 120px;
			min-height: 20px;
			padding: 5px 10px;
			background-color: black;
			color: white;
			outline: none;
			border: none;
			margin-top: 25px;
			margin-left: 355px;
			margin-bottom: 20px;
			@include border-radius(2px);
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;

			&:hover {

				color: black;
				background-color: white;
			}
		}

}



// modal-class-show
.show {
	display: block;
}